.image-slider-outer {
    .banner {
        height: 50px;
        background: url("../images/intellectualproperty_bannerwtag.png") no-repeat;
        margin: 10px;
    }   

    .descriptionInput {
        margin-bottom: 20px;
        overflow: scroll;
    }
}

