$fontFamily: Arial, Helvetica, sans-serif;
$webPartBorder: 1px solid lightskyblue;
$smallMargin: 10px;
$smallpadding: 2px;

div[id^='WebPartWP'] {
    font-family: $fontFamily;

    a {
        text-decoration: none;
    }

    div.form {
        p {
            padding: $smallpadding;
        }

        input {
            font-family: $fontFamily;
        }
    }

    .web-table {
        th {  
            background-color: #ddd;  
            border: $smallpadding solid white;
        }  

        td {  
            background-color: #eee;  
            border: $smallpadding solid white;
            padding: 5px;
        }
    } 
}
